# Virtual Environment
.venv/
venv/
env/
bin/
lib/


# Python cache
**/__pycache__/
**/*.pyc

# Distribution / Build
dist/
build/
*.egg-info/

# Data
data/

# User settings
settings.json

.python-version
.vscode/


